* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body{
    height: 100%;
    background-color: #F3F4F6;
 
}

.pet7 {
   width: 350px; 
    height: 450px; 
    border-radius: 10px;
    
}

@media only screen and (max-width: 600px) {
    .pet7 {
      width: 50%;
      height: 20%;
     
    }
  }